In [1]:
import pandas as pd
from itertools import product

In [2]:
experience_df = pd.read_csv("./datasets/formats/ias-experience.csv")
education_df = pd.read_csv("./datasets/formats/ias-education.csv")

In [3]:
subjects_df = pd.read_csv("./processed/IAS subjects.csv")

In [5]:
education_df = education_df.loc[education_df["Subject"] != "N.A."]
experience_df = experience_df.loc[experience_df["Category_of_Experience"] != "N.A."]

In [6]:
# copy the subject columns to a list
subjects_items = education_df["Subject"].copy()

for subject, category in zip(subjects_df["Subject"], subjects_df["Category"]):
    subjects_items.replace({subject: category}, inplace=True)

In [7]:
education_df["Category"] = subjects_items

C:\Users\vedan\AppData\Local\Temp/ipykernel_17232/2764089655.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  education_df["Category"] = subjects_items

In [8]:
education_df.dropna(inplace=True)
experience_df.dropna(inplace=True)

C:\Users\vedan\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [9]:
names = education_df["Name"].unique()

In [10]:
from tqdm import tqdm

In [11]:
subject_to_exp_map = []
for name in tqdm(names):
    temp_edu = education_df.loc[education_df["Name"] == name]
    temp_exp = experience_df.loc[experience_df["Name"] == name]

    subject_list = temp_edu["Category"].unique().tolist()
    exp_list = temp_exp["Category_of_Experience"].apply(str).map(str.strip).unique().tolist()

    products = list(product(subject_list, exp_list))
    subject_to_exp_map.extend(products)

100%|██████████| 7105/7105 [00:42<00:00, 167.96it/s]

In [13]:
temp = pd.Series(subject_to_exp_map)

In [16]:
count_df = pd.DataFrame(temp.value_counts())

In [17]:
count_df

                                                       0
(Social Science and Liberal Arts, Land Revenue ...  1736
(Governance, Law and Management, Land Revenue M...  1227
(Engineering, Technology and Mathematics, Land ...  1104
(Social Science and Liberal Arts, Personnel and...   828
(Natural Sciences, Land Revenue Mgmt & District...   815
...                                                  ...
(Social Science and Liberal Arts, Anti-Corruption)     1
(Others, Chemicals & Fertilizers)                      1
(Others, Mail Management)                              1
(Finance, Public Policy)                               1
(Social Science and Liberal Arts, Public Policy)       1

[366 rows x 1 columns]

In [61]:
subject = []
experience = []

for item in count_df.index:
    subject.append(item[0])
    experience.append(item[1])

In [62]:
count_df["Subject"] = subject
count_df["Experience"] = experience

In [63]:
count_df.to_clipboard(index=False)